- page_title!('Creando center_work')

#region-center_works.container

  .region
    .region-title
      %h1
        Creando
        %b
          center_work

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
