- page_title!('Editando admin')

#region-admins.container

  .region
    .region-title
      %h1
        Editando
        %b
          admin

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Ver', @admin, class: 'btn btn-info'
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
