#region-admins.container

  .region
    .region-title
      %h1= page_title!('Admin')
    %br
    %br
    .row
      .col-sm-6      
        %table.table
          %tr
            %th Email
            %th Acciones        
          - @roles[0].users.each do |user|
            %tr
              %td= user.email
              %td              
                = link_to "Usuarios", asignar_admins_path(:user_admin_id => user.id), class: 'btn btn-primary'


