#region-areas.container

  .region
    .page-header
      %h1
        Edit
        %b
          Area

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Ver', @area, class: 'btn btn-info'
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
