#region-deparments.container
  .region
    .page-header
      %h1
        Edit
        %b
          Departamento

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Ver', @deparment, class: 'btn btn-info'
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
