- page_title!('Creando deparment')

#region-deparments.container

  .region
    .region-title
      %h1
        Creando
        %b
          deparment

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
